*{
	font-size: 12pt;
	box-sizing: border-box;
}
body{
	margin: 0;
	background-image: url(Lome1.png);
	background-size: cover;
	min-height: 800px;
	line-height: 1.5;
}
nav{
	display: flex;
}
nav>a{
	display: block;
	width: 400px;
	background-color: rgba(0, 0, 0,0.2);
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	color: #FFF;
	margin: 1px;
	text-decoration: none;
	transition: all 0.3s ease;
}
nav>a:hover{
	background-color: rgba(255, 255, 255, 0.4);
	color: #000;
	transition: all 0.3s ease;
}
#ch{
	display: none;
}
#lab{
	width: 30px;
	height: 30px;
	background: linear-gradient(#FFF 0%,#FFF 20%,transparent 21%,transparent 40%,#FFF 41%,#FFF 60%,transparent 61%,transparent 80%,#FFF 81%.#FFF 100%);
	margin: 4px;
	display: none;
}
@media all and (max-width: 960px){
	nav{
		display:block;
		position: absolute;
		left: 0;
		right: 0;
		transform: translate(-1000px,0);
		transition: all 0.5s ease;
	}
	nav>a{
		width: auto;
	}
	#ch:checked+nav{
		transform: translate(0,0);
		transition: all 0.5s ease;
	}
	#lab{
		display: block;
	}
}
.footer{
	background-color: #24262b;
}
.container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
	padding: 70px 0;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: 300;
	font-weight: #bbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #fff;
	padding-left: 8px;
}
@media(max-width: 767px){
	.footer-col{
		width: 50%;
		margin-bottom: 30px;
}
}
@media(max-width: 574px){
	.footer-col{
		width: 100%;
	}
}

.main{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main .content .card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}
.main .content .card .left{
	flex: 0 0 30%;
	background-color: black;
	color: #fff;
}
.main .content .card.right{
	flex: 0 0 70%;
	flex-wrap: wrap;
}
.main .content .card .right img{
	height: 300px;
	width: 400px;
	margin-top: 5px;
}
.contact{
	color: #fff;
}